<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Try Petite Vue</title>
    <script src="https://unpkg.com/petite-vue" defer init></script>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <script>
      function test(song) {
        alert(`your song -> ${song.name}`);
      }
    </script>
    <div>
      <h1
        v-scope="{
              isActive: undefined,
              isShowMoreDetail: false,
              songs: [{ name: 'bbibbi', artist: 'iu'}, { name: 'galaxy', artist: 'taeyeon'}, { name: 'what i want to say', artist: 'acourve'}]
          }"
      >
        <ul>
          <li v-for="(song, index) in songs">
            {{ song.name }}
            <span
              @click="isActive = index, isShowMoreDetail = !isShowMoreDetail"
              class="bg-red-400 p-1 text-xs"
              >{{ isActive === index && isShowMoreDetail ? '-' : '+'}}</span
            >
            <span
              v-if="isActive === index && isShowMoreDetail"
              @click="isShowMoreDetail = !isShowMoreDetail"
              >{{ song.artist }}</span
            >
          </li>
        </ul>
        <hr />
        <button
          @click="test(songs[Math.floor(Math.random(songs * songs.length))])"
        >
          random song
        </button>
      </h1>
    </div>
  </body>
</html>
