<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Try Petite Vue</title>
    <script src="https://unpkg.com/petite-vue" defer init></script>
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body>
    <script>
      function test(song) {
        alert(`your song -> ${song.name}`);
      }
    </script>
    <div
      v-scope="{
              isActive: undefined,
              songs: [{ name: 'bbibbi', artist: 'iu'}, { name: 'galaxy', artist: 'taeyeon'}, { name: 'what i want to say', artist: 'acourve'}]
          }"
    >
      <ul>
        <li v-for="(song, index) in songs">
          {{ song.name }}
          <span @click="isActive = index" class="bg-red-400 p-1 text-xs"
            >{{ isActive === index ? '-' : '+'}}</span
          >
          <span v-if="isActive === index">{{ song.artist }}</span>
        </li>
      </ul>
      <hr />
      <button
        @click="test(songs[Math.floor(Math.random(songs * songs.length))])"
      >
        random song
      </button>
    </div>
  </body>
</html>
